<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/03-server" method="get">
<h2>标题:<input type="text" name="title"></h2>
<h2>
    类别：
    <select name='classname'>
        <option value='Python基础'　selected>Python基础</option>
        <option value='Python高级'>Python高级</option>
        <option value='数据库基础'>数据库基础</option>
        <option value='Web开发' >Web开发</option>
    </select>
</h2>
<h2>
    内容:<textarea name='text'></textarea>
</h2>
    <input type="submit" value="发表">
</form>
</body>
</html>