<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/03-queryall" method="get">
    <div>
        <input type="text" name="word" value="{{ word }}">{#设置value表示#}
        <input type="submit" value="查询">
    </div>
</form>

    <table border="1" width="600">
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        {% for user in users %}

            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="/09-update">修改</a>
                    <a href="/delete?id={{ user.id }}">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</form>

</body>
</html>